{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for pizza in pizzas %}
        <div class="col-md-3 mb-4">
            <div class="card shadow-lg">
                <img src="/media/{{ pizza.images }}" style="height: 220px;" class="card-img-top" alt="{{ pizza.pizza_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.pizza_name }}</h5>
                    <p>Price: {{ pizza.price }} | Category: {{ pizza.category.category_name }}</p>

                    <!-- Add to Cart button with correct URL -->
                    <a href="{% url 'add_cart' pizza.uid %}" class="btn btn-success">Cart <i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


## add a logout button to the menu.html file beside the cart button